---
import Layout from "../layouts/Layout.astro";
import { DataExplorer } from "../components/data/DataExplorer";
---

<Layout title="Data Explorer - UNEP-GRID">
  <div class="w-full">
    <DataExplorer client:load />
  </div>
</Layout>
