---
import Layout from '../layouts/Layout.astro';
import { DataPage } from '../components/data/DataPage';
---

<Layout title="UNEP-GRID Data Platform">
  <main class="min-h-screen">
    <DataPage client:load />
  </main>
</Layout>
