---
import Layout from '../layouts/Layout.astro';
import { Hero } from '../components/home/Hero';
---

<Layout title="UNEP-GRID Data Platform">
  <main class="min-h-screen">
    <Hero client:load />
  </main>
</Layout>
